html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
  overflow: hidden; 
}

body {
  background: linear-gradient(to bottom, #14475d, #2a7a95, #369fcc);
  color: white;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Arial, sans-serif;
}

h1, h2, h3, p {
  color: #060606; 
}

button {
  background-color: #1e1e1e; 
  color: #ffffff;
  border: 1px solid #333333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
}

input {
  background-color: #ffffff;
  color: #030303;
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 5px;
}
